@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1 style=" font-family: Cairo;">@ViewData["Title"]</h1>
<p style=" font-family: Cairo;">
    Please check your email to reset your password.
</p>
